* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bold {
    font-weight: 600;
}

.main-content {
    position: relative;
    min-height: 100vh;
    top: 0;
    transition: all 0.5s ease;
    padding: 1rem;
    z-index: 10;
}

.card {
    background: #03000b;
    border-radius: 1rem;
    padding: 100;
}

.card * {
    background: #03000b;
    border-radius: 1rem;
    padding: 100;
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.589);
}

.card img{
    background: #03000b;
    border-radius: 0rem;
    position: absolute;
    top: 1.9rem;
    left: 1.6rem;
    height: 50px;
    width: 50px;
}

.card h1{
    background: #03000b;
    border-radius: 1rem;
    top: 1.9rem;
    left: 1.6rem;
}

.card img {
    background: #03000b;
    border-radius: 0rem;
}

.card h1 {
    padding: 1rem;
    background: #03000b;
    border-radius: 1rem;
}

.card h2 {
    padding: 1rem;
    background: #03000b;
    border-radius: 1rem;
}

.card h3 {
    padding: 1rem;
    background: #03000b;
    border-radius: 1rem;
}

.card p {
    padding: 1rem;
    background: #03000b;
    border-radius: 1rem;
}

.card span {
    padding: 1rem;
    background: #03000b;
    border-radius: 1rem;
}

.card.description {
    background: #03000b;
    opacity: 0.5;
    border-radius: 1rem;
    padding: 100;
}

.instance-logo {
    position: absolute;
    width: 50%;
    height: 35%;
    padding: 1rem;
    border-radius: 1rem;
}

.card-description p {
    position: relative;
    top: 1rem;
    left: 50%;
    width: 50%;
    padding: 1rem;
    opacity: 0.75;
    background: #03000b;
    border-radius: 1rem;
}

h1.white {
    color: #fff;
}

h2.white {
    color: #fff;
}

h3.white {
    color: #fff;
}

h3.gray {
    color: #dadada;
}

span.white {
    color: #fff;
}

p.white {
    color: #fff;
}

p#settings {
    position: absolute;
    color: #dadada;
    transition: all 0.5s ease;
    padding: 1rem;
    top: 1.7rem;
    right: 1.8rem;
}

p#settings:hover {
    position: absolute;
    color: #000;
    transition: all 0.5s ease;
    background-color: #fff;
    padding: 1rem;
    top: 1.7rem;
    right: 1.8rem;
}

h2.playbutton {
    position: absolute;
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.589);
    bottom: 1rem;
    right: 1rem;
    transition: all 0.3s ease;
    padding: 1rem;
    align-items: center;
    color: white;
    background-color: #9358f1;
    border-radius: 1rem;
}

h2.playbutton:hover {
    transition: all 0.3s ease;
    color: white;
    background-color: #7f34f8;
    border-radius: 1rem;
}

iframe.card {
    background: #03000b;
    border: none;
    border-radius: 1rem;
    position: absolute;
    height: 80%;
    width: 96.2%;
    padding: 1rem;
    top: 4.5rem;
    left: 1rem;
}